
@{
    ViewBag.Title = "finalizarVenta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <h2>Venta Finalizada con Exito!</h2>
    <center><img src="~/Imagenes/venta.jpg" /></center>
    <section id="monto">
        <center>TOTAL A PAGAR : S/@(((decimal)ViewBag.total).ToString("0.00"))</center>
    </section><br /><br />
    <center>@Html.ActionLink("Pagina Principal", "carritoCompras", "", new { @class = "btn btn-primary" })</center>
</section>
